

#mainTitle{
    margin: auto;
    width: 50%;
    display: flex;
    font-family: "Orbitron", sans-serif;
    padding-top: 16vh;
    font-size: 3vh;
}

#login-div{
    margin: auto;
    width: 50%;
    padding-top: 16vh;
    padding-left: 40vw;
}

#login-btn {
    background-color: #4CAF50;   /* Green background */
    color: white;               /* White text */
    padding: 20px 40px;          /* Vertical and horizontal padding */
    border: none;                /* Remove default border */
    border-radius: 6px;          /* Rounded corners */
    font-size: 16px;             /* Text size */
    font-weight: bold;           /* Bold text */
    cursor: pointer;             /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow */
}


.blink {
  animation: blinker 1s linear infinite;
  color: red;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}